<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Time tracking system</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>

    <h2>User Details</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">First name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Department:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{department}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

        <div th:if="${not #lists.isEmpty(user.trackpoints)}">
            <h2>Reported time</h2>
            <table class="table table-striped">
                <tr>
                    <th>Tracking Date</th>
                    <th>Tracking Time</th>
                </tr>
                <tr th:each="trackpoint : ${user.trackpoints}">
                    <td th:text="${{trackpoint.trackingDate}}">Tracking Date</td>
                    <td th:text="${trackpoint.trackingTime}">Tracking Time</td>
                </tr>
            </table>
        </div>

        <h2>Create track point</h2>

        <form class="form-horizontal" th:object="${trackpoint}" th:action="@{'/user/'+${user.id}+'/trackpoint'}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">Tracking date:</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" th:field="*{trackingDate}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tracking time:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{trackingTime}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"  th:src="@{/js/jquery.min.js}" media="screen"></script>
<script type="text/javascript" src="/static/js/moment.min.js" th:src="@{/js/moment.min.js}" media="screen"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" media="screen"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js" th:src="@{/js/bootstrap-datetimepicker.min.js}" media="screen"></script>

<script type="text/javascript">
        $(function() {
           $('#datetimepicker1').datetimepicker({
                 format: 'DD/MM/YYYY'
           });
        });
</script>

</body>
</html>
