<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

    <title>Time tracking system</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>

    <h2>User Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group" sec:authorize="hasRole('ADMIN')">
                    <label class="col-sm-2 control-label">User Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.id}">User Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Department:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.department}">Department</p>
                    </div>
                </div>
                <div class="form-group" sec:authorize="hasRole('ADMIN')">
                    <label class="col-sm-2 control-label">Total reported time:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${totalTime}">Total time</p>
                    </div>
                </div>
            </form>
        </div>

    <div th:if="${not #lists.isEmpty(user.trackpoints)}" sec:authorize="hasRole('ADMIN')">
        <h2>Reported time</h2>
        <table class="table table-striped">
            <tr>
                <th>Tracking Date</th>
                <th>Tracking Time</th>
            </tr>
            <tr th:each="trackpoint : ${user.trackpoints}">
                <td th:text="${{trackpoint.trackingDate}}">Tracking Date</td>
                <td th:text="${trackpoint.trackingTime}">Tracking Time</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>