<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

    <title>Time tracking system</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div th:if="${not #lists.isEmpty(users)}">
        <div class="form-group" sec:authorize="hasRole('ADMIN')">
            <p class="form-control-static">Total users reported time:</p>
            <p class="form-control-static" th:text="${totalUsersTime}"></p>
        </div>
        <h2>User List</h2>
        <table class="table table-striped">
            <tr>
                <th sec:authorize="hasRole('ADMIN')">User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>View</th>
                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                <th sec:authorize="hasRole('ADMIN')">Delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <td sec:authorize="hasRole('ADMIN')" th:text="${user.id}"><a href="/user/${user.id}">User Id</a></td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.department}">Department</td>
                <td sec:authorize="isAuthenticated()"><a th:href="${ '/user/' + user.id}">View</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="${'/user/edit/' + user.id}">Edit</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="${'/user/delete/' + user.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>