<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" media="screen"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAnonymous()"><a href="#" th:href="@{/login}">Login</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}">Logout</a></li>
                        <li><a href="#" th:href="@{/users}">Users</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/user/new}">Create new user</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Tracking system</h2>
                    <h3>Welcome</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/clock.png" width="200" th:src="@{/images/boot.png}"/>
            </div>
        </div>

    </div>
</div>
</body>
</html>
